main {
    padding: 0;
}


/************************************
*            header                 *
************************************/

#logo {
    display: none;
}

#logomob {
    display: flex;
    margin: auto;
    align-items: center;
    width: 35%;
}

nav {
    margin-right: 0;
}

.subnav {
    margin-top: 2rem;
    flex-basis: 100%;
    text-align: center;
}

.subnav a {
    flex-basis: 50%;
    border-bottom: 1px solid var(--grey);
}

.subnav a:hover {
    border-top: none;
    border-bottom: 1px solid var(--blue);
}


/************************************
*            recherche              *
************************************/

.search {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-main {
    padding-left: 1.5rem;
}

.title-main h1 {
    font-size: 1.5rem;
}

.recherche button .searchs {
    display: none;
}

i.fa-solid.fa-location-dot {
    font-size: 1..2rem;
}

.recherche button i {
    display: block;
    font-size: 1.2rem;
}

.recherche button {
    border-radius: 1rem;
    padding: 1rem;
}

.recherche input {
    border: none;
    font-size: 1.2rem;
}

.recherche {
    border-radius: 1rem;
    border: 1px solid var(--grey);
}


/************************************
*            Filtres                *
************************************/

.filtre i {
    padding: 0.5rem;
}

h2 {
    margin-right: 50%;
    font-size: 1.4rem;
}

.filtre-list {
    margin-left: 1.3rem;
    gap: 1rem;
}

.filtre span {
    font-weight: bold;
    font-size: 1rem;
    padding: 0 1rem 0 0.2rem;
}


/************************************
*               Infos               *
************************************/

.info {
    padding: 0 1rem;
}

.info p {
    font-size: 1rem;
}

.info .fas.fa-info {
    font-size: 0.8rem;
    padding: 0.5rem 0.5rem;
}

@media screen and (max-width: 435px) {
    .info .fas.fa-info {
        margin-bottom: 0.9rem;
    }
}


/************************************
*    Hébergements + Populaires      *
************************************/

.apparts {
    flex-direction: column;
}

.villes {
    background-color: white;
    border-radius: 0;
}

.apparts h2 {
    margin-right: 0;
    padding-left: 2rem;
}

.populaires {
    order: -1;
    border-radius: 0;
}

.card-list {
    display: block;
    flex-direction: column;
    padding: 0 2rem 0.5rem 2rem;
}

.card {
    width: auto;
    margin-bottom: 1rem;
}

.card-body h3,
.card-body p {
    font-size: 1rem;
}

.image img {
    object-fit: cover;
    height: 8rem;
    width: 100%;
}

.show-more {
    font-size: 1rem;
    padding-top: 0;
    padding-left: 2rem;
    font-weight: bold;
}


/******** POULAIRES ********/

.card-list-pop {
    display: block;
    flex-direction: column;
    padding: 0 2rem 0.5rem 2rem;
}

.card-pop {
    margin-bottom: 1rem;
}

.card-body-pop {
    padding: 0.5rem;
}

.image-pop img {
    object-fit: cover;
    width: 8rem;
    height: 100%;
}

.card-body-pop h3,
.card-body-pop p {
    font-size: 1rem;
}

.titre-icon i {
    margin-left: auto;
    padding-right: 2rem;
}


/************************************
*             ACTIVITES             *
************************************/

#activitées h2 {
    margin-right: 0;
    padding-left: 2rem;
}

.activ-list {
    gap: 1rem;
    display: block;
    flex-direction: column;
    padding: 0 2rem 0.5rem 2rem;
}

.activ-list>* {
    margin-bottom: 1rem;
}

.card-big .image-activ img {
    object-fit: cover;
    height: 8rem;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
}

.card-medium .image-activ img {
    object-fit: cover;
    height: 8rem;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
}

.card-small .image-activ img {
    object-fit: cover;
    height: 8rem;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
}

.equal1 .image-activ img {
    object-fit: cover;
    height: 8rem;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
}

.equal2 .image-activ img {
    object-fit: cover;
    height: 8rem;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
}

.m1-s1,
.equal {
    gap: 1rem;
}

.card-big h3 {
    padding-bottom: 1.2rem;
}


/***************FOOTER****************/

footer {
    flex-direction: column;
    align-items: center;
    font-size: 15px;
}

.bas_page {
    width: 90%;
    padding: 30px 0px 30px 30px;
}