/************************************
*            header                 *
************************************/


/************************************
*            recherche              *
************************************/

.title-main h1 {
    font-size: 22px;
}


/************************************
*            Filtres                *
************************************/

.filtre-list {
    margin-left: 21px;
    gap: 16px;
}


/************************************
*               Infos               *
************************************/


/************************************
*      Hébergements + Populaire     *
************************************/

.apparts {
    flex-direction: column;
    display: flex;
}

.populaires {
    order: -1;
}

.card-list-pop {
    display: flex;
    flex-direction: column;
    padding: 0 8px 8px 8px;
}

.card-pop {
    margin-bottom: 16px;
    width: 650px;
}

.card-body-pop {
    padding: 8px;
}

.image-pop img {
    object-fit: cover;
    width: 240px;
    height: 100%;
}

.card-list {
    display: flex;
    justify-content: center;
    padding: 0 8px 8px 8px;
}

.image img {
    object-fit: cover;
    height: 240px;
    width: 100%;
}


/************************************
*             ACTIVITES             *
************************************/

.activ-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.m1-s1,
.equal {
    flex-basis: 48%;
}

.card-big {
    flex-basis: 48%;
}